.shares-list-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40%;
  width: 100%;

  .search-input-wrapper {
    display: flex;
    width: 100%;
    margin-top: 8px;
    position: relative;
    height: 24px;

    &__reset {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background-color: transparent;
      border: none;
  
      &:hover {
        cursor: pointer;
      }
    }

    .search-input {
      width: 100%;
      height: 100%;

      padding-left: 5px;

      border-width: 1px;
    }
  }

  .shares-list-wrapper {
    flex: 1;
    margin-top: 10px;

    .shares-list {
      &__element {
        height: 100%;
        padding: 0 5px;
        
        &--selected {
          background-color: aqua;
        }
        
        &:hover {
          cursor: pointer;
          background-color: beige;
        }
      }

      &__action-icon {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: transparent;
        border: none;
        z-index: 1;
    
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
